body {
    background-color: black;
    position: absolute;
}


h1 {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 15px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: white;
    position: relative;
}


h2 {
    text-align: center;
    margin: 10px;
    word-spacing: 20px;
}


h3 {
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: white;
    position: relative;
}


p {
  color: white;
  text-align: left;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: helvetica, arial, sans-serif;
}


.about {
  color: white;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: helvetica, arial, sans-serif;
}


.stealth {
  color: black;
  text-align: left;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: helvetica, arial, sans-serif;
}

/*Taken from www.w3schools.com/howto/howto_css_image_center.asp*/
.center {
  margin: 10px;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}


.center-small {
  margin: 10px;
  width: 50%;
  border: 1px solid black;
}


.smalllink {
  color: white;
  text-align: left;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: lighter;
  text-decoration: underline;
}


a {
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 4px;
  word-spacing: 25px;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  color: grey;

}


.space1 {
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  border: solid black;
  width: 50%;
  padding: 5px;
}


.space2 {
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  border: solid black;
  width: 50%;
  padding: 15px;
}


.space3 {
  border-top: 0px solid black;
  border-bottom: 1px solid grey;
  border: solid black;
  width: 50%;
  padding: 15px;
}


/*taken from https://www.w3schools.com/howto/howto_css_image_center.asp*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/*taken from https://www.w3schools.com/howto/howto_css_image_center.asp*/
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
}


i {
  color: white;
  text-align: center;
  animation: color-change 7s infinite;
  animation-delay: 0s;
}

i1 {
  color: white;
  text-align: center;
  animation: color-change 7s infinite;
  animation-delay: 1s;
}

i2 {
  color: white;
  text-align: center;
  animation: color-change 7s infinite;
  animation-delay: 2s;
}

i3 {
  color: white;
  text-align: center;
  animation: color-change 7s infinite;
  animation-delay: 3s;
}

i4 {
  color: white;
  text-align: center;
  animation: color-change 7s infinite;
  animation-delay: 4s;
}


/*taken from https://stackoverflow.com/questions/16782498/looping-animation-of-text-color-change-using-css3*/
@keyframes color-change {
  0% { color: white; }
  20% { color: black; }
  100% { color: white; }
}