h1 {
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: monospace;
    color: #FF0000;
    position: relative;
    margin-top: 19%;
    margin-bottom: 30%;
    margin-right: 5%;
    margin-left: 5%;
}


a {
    color: white;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 5px;
    font-weight: 300;
    /* font-family: monospace; */
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
}

p {
  color: white;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 5px;
  font-weight: 300;
  /* font-family: monospace; */
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: darkgrey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .space1 {
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border: none;
    width: 50%;
    padding: 5px;
  }

  .about {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
  }

  .link {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: monospace;
  }

  .hidden {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
  }

  .bold {
    border-style: none;
    border-width: 20px
    border-color: white;
    background-color: black;
  }




  /*
font-size: 20px;
font-weight: lighter;
letter-spacing: 5px;
text-align: center;
margin: 20px;
text-decoration: none;
font-family: times;
color: black;
position: relative;
padding: 30px;
*/


h2 {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: black;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }