body {
    background-color: white;
    position: absolute;
}

h1 {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: times;
    color: black;
    position: relative;
}

h2 {
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 7px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: times;
    color: black;
    position: relative;
}


a {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: times;
    /* font-family: helvetica, arial, sans-serif; */
    text-decoration: none;
}

a:hover {
  color: grey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .space1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border: solid white;
    width: 50%;
    padding: 5px;
  }

  .about {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
  }

  .link {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: monospace;
  }

  .hidden {
    color: white;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
  }

    audio {
      width: 100%;
    }

    audio::-webkit-media-controls-panel{
      background-color: white;
    }

    audio::-webkit-media-controls-play-button{
      background-color: white;
      border-radius: 20%;
    }

    audio::-webkit-media-controls-current-time-display{
      color: black;
    }

    audio::-webkit-media-controls-time-remaining-display{
      color: black;
    }

    audio::-webkit-media-controls-timeline{
      color: black;
    }

    audio::-webkit-media-controls-volume-slider{
      color: black;
    }

    audio::-webkit-media-controls-time-mute-button{
      color: black;
    }








  /*
font-size: 20px;
font-weight: lighter;
letter-spacing: 5px;
text-align: center;
margin: 20px;
text-decoration: none;
font-family: times;
color: black;
position: relative;
padding: 30px;
*/


h2 {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: black;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }