body {
    background-color: #848884;
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: times;
    color: black;
    position: relative;
}


a {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: times;
    /* font-family: helvetica, arial, sans-serif; */
    text-decoration: none;
}

a:hover {
  color: grey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .space1 {
    border-top: 1px solid #848884;
    border-bottom: 1px solid #848884;
    border: solid #848884;
    width: 50%;
    padding: 5px;
  }

  .about {
    color: white;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
  }

  .link {
    color: black;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: monospace;
  }

  .hidden {
    color: #848884;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
  }



h2 {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: black;
    position: relative;
}

h3 {
  font-size: 50px;
  font-weight: light;
  letter-spacing: 5px;
  text-align: left;
  margin: 20px;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  color: lightgrey;
  position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

.centerabout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  width: 80%;
  background-color: #333;
}

.landing {
  font-size: 80px;
  font-weight: light;
  letter-spacing: 5px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  color: lightgrey;
  position: relative;
}

.nav {
    color: white;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 100;
    /* font-family: times; */
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
}

.navactive {
  color: black;
  text-align: left;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 100;
  /* font-family: times; */
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
}